.App {
  text-align: center;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('/public/blue-background.jpg');  
  background-color: #D0ECF8;
}

h1, footer {
  font-family: 'Staatliches', cursive;
}

h2, h3, h4, h5, h6, p, form, input {
  font-family: 'Open Sans', sans-serif;
}

button, input {
  height: 25px;
  border-radius: 3px;
}

button {
  background-color: #D3DCDE;
  margin-top: 2px;
}

input {
  width: 150px;
  background-color: #E8F2F4;
}

footer {
  margin-bottom: 0;
}

/* Header */
#header-container {
  display: flex;
  flex-flow: row column;
  justify-content: space-around;
  align-items: center;
}

#header-container #left {
  flex: 2;
  align-self: flex-start;
  margin: auto;
}

#header-container #center {
  flex: 1;
}

#header-container #right {
  flex: 2;
  align-self: flex-end;
  margin: auto;
  }

/* Places */
#places-container {
  display: flex;
  flex-flow: column row;
  justify-content: center; 
}

.single-item {
  background-color: #FDF8E1;
  border-radius: 10px;
  box-shadow: 2px 5px #CCC;
}

.single-item button {
  margin-bottom: 10px;
}







