.App {
  text-align: center;
}

body {
  background-color: #D0ECF8;
}

h1, footer {
  font-family: 'Staatliches', cursive;
}

h2, h3, h4, h5, h6, p, form, input {
  font-family: 'Open Sans', sans-serif;
}

button, input {
  height: 25px;
  border-radius: 3px;
}

button {
  background-color: #D3DCDE;
  margin-top: 3px;
}

input {
  width: 150px;
  background-color: #E8F2F4;
}

footer {
  margin-bottom: 0;
}